@import url(null.css);

body {
   background-color: bisque;
   height: 100vh;
}

.clock {
   position: absolute;
   width: 200px;
   height: 200px;
   background-color: white;
   border: 10px solid black;
   border-radius: 50%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
}

.center {
   width: 6px;
   height: 6px;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   background-color: black;
   border-radius: 50%;
}

.hour {
   width: 3px;
   height: 100%;
   position: absolute;
   left: 1px;
   right: 0px;
   margin: 0 auto;
   animation: time 60s infinite linear;
}

.hour::before {
   content: "";
   height: 40px;
   width: 3px;
   background-color: black;
   position: absolute;
   top: 50px;
}

.minute {
   width: 1px;
   height: 100%;
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
   animation: time 10s infinite linear;
}

.minute::before {
   content: "";
   height: 60px;
   width: 1px;
   background-color: black;
   position: absolute;
   top: 30px;
}

.pendulum {
   width: 8px;
   height: 100%;
   position: absolute;
   transform: rotate(45deg);
   left: 0;
   right: 0;
   margin: 0 auto;
   animation: pendulum 2s infinite alternate ease-in-out;
}

.circlew {
   width: 50px;
   height: 100%;
   position: absolute;
   transform: rotate(45deg);
   left: 0;
   right: 0;
   margin: 0 auto;
   animation: circlew 2s infinite alternate ease-in-out;
}

.circlew::before {
   content: "";
   height: 50px;
   width: 50px;
   background-color: black;
   position: absolute;
   top: 240px;
   border-radius: 50%;
}

.pendulum::before {
   content: "";
   height: 100px;
   width: 8px;
   background-color: black;
   position: absolute;
   top: 185px;

}

.numbers {
   position: absolute;
   width: 100%;
   height: 105%;
   padding: 2%;
   text-align: center;
}

.numbers span {
   display: block;
   color: rgb(62, 60, 53);
   font-size: 32px;

}

.numbers:nth-child(1) {
   transform: rotate(30deg);
}

.numbers:nth-child(1) span {
   transform: rotate(-30deg);
}




.numbers:nth-child(2) {
   transform: rotate(60deg);
}

.numbers:nth-child(2) span {
   transform: rotate(-60deg);
}




.numbers:nth-child(3) {
   transform: rotate(90deg);
}

.numbers:nth-child(3) span {
   transform: rotate(-90deg);
}




.numbers:nth-child(4) {
   transform: rotate(120deg);
}

.numbers:nth-child(4) span {
   transform: rotate(-120deg);
}




.numbers:nth-child(5) {
   transform: rotate(150deg);
}

.numbers:nth-child(5) span {
   transform: rotate(-150deg);
}




.numbers:nth-child(6) {
   transform: rotate(180deg);
}

.numbers:nth-child(6) span {
   transform: rotate(-180deg);
}




.numbers:nth-child(7) {
   transform: rotate(210deg);
}

.numbers:nth-child(7) span {
   transform: rotate(-210deg);
}




.numbers:nth-child(8) {
   transform: rotate(240deg);
}

.numbers:nth-child(8) span {
   transform: rotate(-240deg);
}




.numbers:nth-child(9) {
   transform: rotate(270deg);
}

.numbers:nth-child(9) span {
   transform: rotate(-270deg);
}




.numbers:nth-child(10) {
   transform: rotate(300deg);
}

.numbers:nth-child(10) span {
   transform: rotate(-300deg);
}




.numbers:nth-child(11) {
   transform: rotate(330deg);
}

.numbers:nth-child(11) span {
   transform: rotate(-330deg);
}



.numbers:nth-child(12) {
   transform: rotate(360deg);
}

.numbers:nth-child(12) span {
   transform: rotate(-360deg);
}


.body {
   height: 500px;
   width: 300px;
   background-color: brown;
   border-radius: 20px;
   margin: auto;
   transform: translate(0, 270px);
}

.glass {
   width: 270px;
   height: 320px;
   border-radius: 20px;
   background-color: aqua;
   opacity: 0.5;
   margin: auto;
   transform: translate(-45px, -20px);
}

.body-top {
   width: 395px;
   height: 40px;
   background-color: brown;
   border-radius: 30px;
   margin: auto;
   transform: translate(0, -300px);

}

.top {
   width: 150px;
   height: 50px;
   background-color: brown;
   border-radius: 50%;
   margin: auto;
   transform: translate(0, -280px);
}

@keyframes time {
   to {
      transform: rotate(360deg);
   }
}

@keyframes pendulum {
   0% {
      transform: rotate(15deg);
   }

   100% {
      transform: rotate(-15deg);
   }
}

@keyframes circlew {
   0% {
      transform: rotate(15deg);
   }

   100% {
      transform: rotate(-15deg);
   }
}