@import url(null.css);

* {
   background-color: antiquewhite;
}

.container {
   margin: 0 auto;
   padding-top: 40px;
   width: 600px;
}


.header {
   margin-bottom: 300px;
   font-size: 40px;

}

.game-start {
   background: blue;
   width: 35px;
   height: 50px;
   margin-left: 365px;
   display: block;
}

.game-line2 {
   width: 400px;
   height: 20px;
}

.game-line2:hover {
   background: blue;
}

.game-line3 {
   width: 15px;
   height: 100px;
}

.game-line3:hover {
   background: blue;
}

.game-line4 {
   width: 100;
   height: 20px;
}

.game-line4:hover {
   background: blue;
}

.game-line5 {
   width: 30px;
   height: 200px;
   margin-left: 570px;
}

.game-line5:hover {
   background: blue;
}

.game-line6 {
   width: 220px;
   height: 17px;
   margin-left: 380px;
}

.game-line6:hover {
   background: blue;
}

.game-line7 {
   width: 20px;
   height: 170px;
   margin: 0 0px 0 380px;
}

.game-line7:hover {
   background: blue;
}

.button {
   width: 20px;
   height: 20px;
   margin-left: 380px;
   display: inline-block;
   margin-bottom: 200px;
}

.button:hover {
   background-color: red;

}

.game-prize {
   background: url(../img/happy-business-people-hold-the-golden-cup-award-in-hand-leadership-concept-victory-number-one-prize-free-vector.jpg) no-repeat;
   background-position: 0px 0;
   width: 500px;
   height: 500px;
   margin-bottom: 200px;
   display: none;
}

#image:target {
   display: inline-block;
}