@import url(null.css);

.container {
   margin: 0 auto;
   padding-top: 40px;
   width: 600px;

}


.header {
   margin-bottom: 300px;
   font-size: 40px;

}

.game-start {
   background: rgb(255, 0, 0);
   width: 35px;
   height: 60px;
   margin-left: 365px;
   display: block;
}

.game-line2 {
   width: 300px;
   height: 25px;
   margin-left: 100px;
   margin-top: -10px;
}

.game-line2:hover {
   background: blue;
}

.game-line3 {
   width: 25px;
   height: 250px;
   margin-left: 100px;
   margin-top: -10px;
}

.game-line3:hover {
   background: blue;
}

.game-line4 {
   width: 400px;
   height: 20px;
   margin-top: -10px;
   margin-left: 100px;
}

.game-line4:hover {
   background: blue;
}

.game-line5 {
   width: 25px;
   height: 300px;
   margin-top: -10px;
   margin-left: 475px;
}

.game-line5:hover {
   background: blue;
}

.game-line6 {
   width: 250px;
   height: 20px;
   margin-top: -10px;
   margin-left: 250px;
}

.game-line6:hover {
   background: blue;
}

.game-line7 {
   width: 15px;
   height: 100px;
   margin-top: -10px;
   margin-left: 250px;
}

.game-line7:hover {
   background: blue;
}

.game-prize {
   display: none;
   background: url(../img/happy-business-people-hold-the-golden-cup-award-in-hand-leadership-concept-victory-number-one-prize-free-vector.jpg) no-repeat;
   width: 500px;
   height: 500px;
}

.button {
   display: block;
   width: 15px;
   height: 15px;
   margin-left: 250px;
   margin-top: -10px;
   margin-bottom: 200px;
}

.button:hover {
   background-color: red;
}

#image:target {
   display: block;

}

#image:target~* {
   display: none;
}

#image:target~.button-start {
   display: block;
}

.button-start {
   display: none;

   padding: 15px 30px;
   text-align: center;

   color: white;
   background-color: rgb(0, 165, 50);
   border-radius: 25px;
   width: 300px;
   height: 50px;
}
