@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Nunito";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Nunito";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body .hello {
  width: 200px;
  color: green;
  margin: 0 auto;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.reset {
  display: inline-block;
  padding: 15px 5px;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(255, 102, 102);
  border-radius: 7px;
  border: 4px solid #d7d8ff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 200px;
  margin: 40px auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0px 7px 15px 0px rgb(255, 106, 106);
          box-shadow: 0px 7px 15px 0px rgb(255, 106, 106);
}

.reset:active {
  background-color: rgb(255, 61, 61);
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.next {
  display: none;
  padding: 15px 5px;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(104, 104, 255);
  border-radius: 7px;
  border: 4px solid #d7d8ff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 200px;
  margin: 40px auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0px 7px 15px 0px rgb(36, 65, 255);
          box-shadow: 0px 7px 15px 0px rgb(36, 65, 255);
}

.next:active {
  background-color: rgb(74, 131, 255);
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#container {
  width: 400px;
  height: 400px;
  border: 1px solid rgb(0, 0, 0);
  margin: 20px auto;
  position: relative;
}

.tile {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ball {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.ball:active {
  -webkit-transform: translate(0px, -10px);
      -ms-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  -webkit-transition: -webkit-transform none;
  transition: -webkit-transform none;
  transition: transform none;
  transition: transform none, -webkit-transform none;
  -webkit-transform: scale(0.3);
      -ms-transform: scale(0.3);
          transform: scale(0.3);
}

.score {
  font-family: fantasy, Arial;
  font-size: 30px;
  margin: auto;
}

.massage {
  font-family: fantasy, Arial;
  font-size: 30px;
  margin: auto;
}

#endGameMessage {
  font-family: fantasy, Arial;
  margin: auto;
  font-size: 30px;
}

.hidden {
  display: none;
}

.active {
  outline: 6px solid rgba(35, 121, 109, 0.5);
}

.step-active {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  background-color: rgb(255, 0, 0) !important;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}