@import url(null.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400&display=swap);

* {
   font-family: Lato;
   font-style: normal;
}

body {
   color: #424551;
}

.form {
   margin: 100px auto;
   height: 506px;
   width: 390px;

}


input {
   height: 44px;
   width: 390px;
   border: 1px solid #D7DADD;
   border-radius: 5px;
   padding-left: 16px;
   font-size: 14px;
   line-height: 21px;
}

.input-line {
   font-size: 14px;
   line-height: 21px;
   padding-bottom: 35px;
}

.icon {
   position: relative;
   left: 358px;
   bottom: 29px;
}

.checkbox {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;

}

.remember-me {
   display: inline-flex;
   column-gap: 12px;
   align-items: center;
   margin-bottom: 24px;
}

.remember-me::before {
   align-self: flex-start;
   flex: 0 0 16px;
   height: 16px;
   width: 16px;
   content: "";
   background-color: white;
   border: 1px solid gray;
   border-radius: 3px;

}

.checkbox:checked+.remember-me::before {
   background-color: #FF3F3A;
   background-image: url(../img/free-icon-check-mark-64484.png);
   background-size: 16px;
}

.button {
   width: 100%;
   height: 44px;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px;
   color: white;
   margin-bottom: 24px;
}

.sign-in {
   color: #FF3F3A;
}