@import url(null.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400&display=swap);

* {
   font-family: Lato;
   font-style: normal;
}

body {
   color: #424551;
}

.form {
   margin: 100px auto;
   height: 506px;
   width: 390px;

}


input {
   height: 44px;
   width: 390px;
   border: 1px solid #D7DADD;
   border-radius: 5px;
   padding-left: 16px;
   font-size: 14px;
   line-height: 21px;
}

.textarea {
   width: 100%;
   height: 120px;
   padding: 10px;
   resize: vertical;
   border: 1px solid gray;
}

.radio {
   width: 13px;
   height: 13px;
}

.input-line {
   font-size: 14px;
   line-height: 21px;
   padding-bottom: 35px;
}

.icon {
   position: relative;
   left: 358px;
   bottom: 29px;
}

.checkbox {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;

}

.remember-me {
   display: inline-flex;
   column-gap: 12px;
   align-items: center;
   margin-bottom: 24px;
   margin-top: 35px;
}

.remember-me::before {
   align-self: flex-start;
   flex: 0 0 16px;
   height: 16px;
   width: 16px;
   content: "";
   background-color: white;
   border: 1px solid gray;
   border-radius: 3px;

}

.checkbox:checked+.remember-me::before {
   background-color: #FF3F3A;
   background-image: url(../img/free-icon-check-mark-64484.png);
   background-size: 16px;
}

.button {
   width: 100%;
   height: 44px;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px;
   color: white;
   margin-bottom: 24px;
}

.sign-in {
   color: #FF3F3A;
}

.radiobuttons {
   display: block;
   margin-bottom: 35px;
}

.radio {
   display: none;
}

.decoration {
   display: inline-block;
   width: 20px;
   height: 20px;
   border: 2px solid #FF3F3A;
   position: relative;
   border-radius: 50%;
}


.text {
   display: inline-block;
   padding-top: 10px;
}

.decoration::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: block;
   width: 10px;
   height: 10px;
   background-color: #F75E05;
   opacity: 0;
   transition: .2s;
   border-radius: 50%;
}

.radio:checked+.decoration::before {
   opacity: 1;
}

.color {
   margin-bottom: 20px;
}

select {
   border: #F75E05 solid 2px;
   width: 100%;
   border-radius: 5px;
   height: 40px;
   padding: 5px 10px;
   font-size: 22px;
   margin-bottom: 30px;
}