@import url(null.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,regular,700,900);

@font-face {
   font-family: 'Circular Std';
   src: url('/fonts/CircularStd-Medium.woff2') format("woff2"), url('//fonts/CircularStd-Medium.woff') format('woff');
}

@font-face {
   font-family: 'Circular Std';
   src: url('//fonts/CircularStd-Book.woff2') format('woff2'), url('/fonts/CircularStd-Book.woff') format('woff');
}

body {
   color: #5F5F5F;
   font-family: 'Circular Std';
   font-size: 18px;
}

.header {
   margin-top: 100px;
   text-align: center;
   margin-bottom: 224px;
}

.title {
   color: rgb(33, 33, 33);
   font-size: 65px;
   font-weight: 700;
   margin-bottom: 20px;
}

.text_top {
   font-size: 20px;
   color: #5F5F5F;
}

.title2 {
   color: #313131;
   font-size: 34px;
   font-weight: 700;
   margin-bottom: 20px;
   opacity: 0.88;

}

.container {
   padding: 0 100px
}

.text {
   width: 508px;
   margin-bottom: 125px;
}

.text2 {
   color: rgb(35, 35, 35);
   margin-bottom: 20px;
   font-weight: 700;
}

.text3 {
   color: #B8B8B8;
   margin-bottom: 40px;
}

.img {
   height: 674px;
   width: 401px;
   margin-bottom: 40px;
}