@import url(null.css);

@font-face {
   font-family: "lato";
   src: url(../fonts/Lato-Regular.woff) format("woff");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "lato-bold";
   src: url(../fonts/Lato-Bold.woff) format("woff");
   font-weight: 700;
   font-style: normal;
}

body {
   font-family: "lato", serif;
   margin-left: auto;
   margin-right: auto;
   width: 500px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 160%
}

.container {
   padding: 100px 0 0 0;
}

.atricle-subtitle {
   font-family: "lato-bold", serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1E212C;
}

.article-title {
   font-family: "lato-bold", serif;
   font-size: 46px;
   font-style: normal;
   font-weight: 900;
   line-height: 130%;
   color: #1E212C;
   margin-bottom: 40px;
}

.list-item {
   width: 358px;
}

.list-item::before {
   content: "";
   display: inline-block;
   width: 16px;
   height: 16px;
   margin: 0 10px 0 -30px;
   background: url(../img/Vector.png) 0 0 / 16px no-repeat;



}

.list {
   margin-bottom: 48px;
}

.button {
   border-radius: 4px;
   background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
   padding: 10px 25px;
   color: aliceblue;
   display: inline-block;
   margin: 0 0 70px 0px;
}

.text-example {
   font-size: 36px;
}

.text-example::after {
   content: "";
   display: block;
   height: 1px;
   background-color: black;
   width: 65px;
   margin: 8px 0 0 0;
}