@import url(null.css);

@font-face {
   font-family: "e-Ukraine";
   src: url(../fonts/e-ukrainehead-thin_w.woff2) format("woff2"), url(../fonts/e-ukrainehead-thin_w.woff) format("woff");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "e-Ukraineregular";
   src: url(../fonts/e-ukraine-regular_w.woff2) format("woff2"), url(../fonts/e-ukraine-regular_w.woff) format("woff");
   font-weight: 500;
   font-style: normal;
}

body {
   font-size: 20px;
   font-family: "e-Ukraine", serif;
}

.container {
   margin: 0 auto;
   padding: 20px 60px;
}

/*////////////////////////////////////////////////////////////////////////////////*/
.header-title {
   font-size: 44px;
   text-align: center;
   margin-bottom: 70px;
   display: inline-block;
   font-family: "e-Ukraineregular";
}

.header-title::after {
   content: "";
   display: block;
   height: 3px;
   width: 50px;
   margin: 5px 0 0 0;
   background-color: black;
}

.header-title::first-letter {
   font-size: 46px;
   color: red;
}

/*////////////////////////////////////////////////////////////////////////////////*/
.page {
   display: none;
}

.page p:last-child {
   background-color: rgb(180, 180, 180);
}

.page p:first-child {
   color: cadetblue;
}

.page p:nth-child(5) {
   background-color: black;
   color: aliceblue;
}


.page:target {
   display: block;
}

/*////////////////////////////////////////////////////////////////////////////////*/
.main-text {
   margin-bottom: 10px;
}

/*////////////////////////////////////////////////////////////////////////////////*/
.subtitle {
   font-size: 38px;
   text-align: center;
   margin-bottom: 40px;
   color: rgb(113, 113, 113);
   font-family: "e-Ukraineregular";
}

/*////////////////////////////////////////////////////////////////////////////////*/
.list-item {
   padding: 10px;

}

.list-item::before {
   content: "!";
   margin-right: 15px;
   color: rgb(255, 0, 0);
}

.list-item::first-line {
   text-transform: uppercase;
}

/*////////////////////////////////////////////////////////////////////////////////*/
.link {
   color: rgb(171, 171, 255);
}

.link:hover {
   color: rgb(62, 62, 255);
   text-decoration: underline;
   text-transform: uppercase;

}



.link:active {
   color: rgb(255, 0, 0);
}

.link:visited {
   color: gray;
}

/*////////////////////////////////////////////////////////////////////////////////*/
.container-example {
   margin: 50px auto 20px auto;
   width: 300px;
}

/*////////////////////////////////////////////////////////////////////////////////*/
.button {
   display: inline-block;

   padding: 15px 30px;
   text-align: center;

   color: white;
   background-color: rgb(0, 165, 50);
   border-radius: 25px;
   box-shadow: 0 5px 0 0;

   font-family: 'e-Ukraineregular';
   text-transform: uppercase;
   letter-spacing: 2px;
}

.button:hover {
   margin: 1px 0 0 0;
   background-color: green;
   box-shadow: 0 4px 0 0 black;
}

.button:active {
   margin: 4px 0 0 0;
   box-shadow: 0 0 0 0 black, inset 0 0 5px 0 black;
}