/* Общий селектор */
* {
   color: magenta;
}

/* Селектор по названию тега */
h2 {
   color: blue;
}

/* Селектор по названию тега */
a {
   color: rgb(131, 131, 255);
}

/* Селектор по названию тега */
p {
   color: rgb(191, 0, 255);
}

/* Селектор по классу */
.text {
   color: rgb(0, 131, 17);
}

/* Селектор по классу */
.header {
   color: rgb(255, 0, 0);
}

/* Селектор по классу */
.span {
   color: rgb(140, 152, 9);
}

/* Селектор по классу для нескольких классов */
.link1,
.link {
   color: blue;
}

/* Селектор по классу для нескольких классов */
.text1,
.text2 {
   color: blueviolet;
}

/* Селектор по классу для нескольких классов */
.header,
.header1 {
   color: blue;
}

/* Селектор ID */
#block {
   color: red;
}

/* Селектор ID */
#block1 {
   color: chartreuse;
}

/* Селектор ID */
#block2 {
   color: rgb(255, 0, 153);
}

/* Уточняем */
p .word {
   color: darksalmon;
}

/* Комбинация селлекторов класса */
.text.paragraph {
   color: dodgerblue;
}

/* Комбинация селлекторов класса */
.text .word {
   color: cyan;
}

/* Обращение только к преовму следующему объекту */
.next__text+ul {
   color: deeppink;
}

.text~p {
   color: greenyellow;
}