/* Общий селектор */
* {
   color: rgb(0, 0, 0);
}

/* Селектор по названию тега */
h2 {
   color: blue;
}

/* Селектор по названию тега */
a {
   color: rgb(131, 131, 255);
}

/* Селектор по названию тега */
li {
   color: rgb(0, 55, 255);
}

/* Селектор по классу */
.text {
   color: rgb(0, 131, 17);
}

/* Селектор по классу */
.header {
   color: rgb(255, 0, 0);
}

/* Селектор по классу */
.span {
   color: rgb(140, 152, 9);
}

/* Селектор по классу для нескольких классов */
.link1,
.link {
   color: blue;
}

/* Селектор по классу для нескольких классов */
.text1,
.text2 {
   color: rgb(226, 43, 43);
}

/* Селектор по классу для нескольких классов */
.header,
.header1 {
   color: blue;
}

/* Селектор ID */
#block {
   color: red;
}

/* Селектор ID */
#block1 {
   color: chartreuse;
}

/* Селектор ID */
#block2 {
   color: rgb(255, 0, 153);
}

/* Обращение ко всем тегам с классом word внутри тега p */
p .word {
   color: darkgray;
}

/* Обращение ко всем тегам с классом text-word внутри тега p */
p .text-word {
   color: crimson;
}

/* Обращение ко всем тегам с классом word2 внутри тега p */
p .word2 {
   color: firebrick;
}

/* Все объекты с классам text и paragraph ОДНОВРЕМЕННО */
.text.paragraph {
   color: dodgerblue;
}

/* Все объекты с классам text и paragraph1 ОДНОВРЕМЕННО */
.text.paragraph1 {
   color: coral;
}

/* Все объекты с классам text и paragraph2 ОДНОВРЕМЕННО */
.text.paragraph2 {
   color: rgb(255, 0, 0);
}


/*Обращение к тегу <ul>, следующему сразу за тегом с классом next-text*/
.next-text+ul {
   color: deeppink;
}

/*Обращение к тегу <span>, следующему сразу за тегом с классом text-word*/
.text-word+span {
   color: rgb(230, 0, 255);
}

/*Обращение к тегу <span>, следующему сразу за тегом с классом text-paragraph*/

.text-paragraph+span {
   color: rgb(0, 255, 174);
}

/*Обращение к тегу <p>, следующему сразу за тегом с классом next-text2*/
.next-text2+p {
   color: rgb(255, 0, 0);
}


/*Обращение ко всем следующим тегам <p> одного уровня относительно тега <p> классом text*/
.text~p {
   color: rgb(99, 56, 56);
}

/*Обращение ко всем следующим тегам <h1> одного уровня относительно тега <p> классом text1*/
.text1~h1 {
   color: rgb(255, 127, 127);
}

/*Обращение ко всем следующим тегам <h3> одного уровня относительно тега <p> с классом next-text1*/
.next-text1~h3 {
   color: aqua;
}


/*Обращение ко всем тегам DIV с классом divtext*/
div.divtext {
   color: darkred;
}

/* Обращение к первому уровню вложености тега <p> с классом section */
.section>p {
   color: chartreuse;
}

/* Обращение ко всем тегам SPAN внутри всех тегов P */
p span {
   color: rgb(89, 69, 82);
}

/* селектор который выбирает все теги <img> у которых есть атрибут "width" со значением равным "300"*/
img[width="300"] {
   border: 12px solid red;
}

/*селектор который выбирает все теги у которых есть атрибут "target" со значением равным "_blank"*/
[target=_blank] {
   color: rgb(255, 255, 255);
}

/*селектор который выбирает все теги у которых есть атрибут "href" со значением содержащим слово "google"*/
[href*=google] {
   color: brown;
}

/*селектор который выбирает все теги <a> у которых есть атрибут "href" со значением содержащим слово "uk"*/
a[href*=uk] {
   color: chartreuse;
}